extends layout
block vars
  - const metas = {}
  - metas.title = "CSS Grid"
  - metas.keyword = "iine"
block content
  h1= metas.title
  p Welcome to #{metas.title}
  .container
    - for (let i=1; i<10; i++)
      div(class=`item-${i}`) #{i}

