extends layout
block vars
  - const metas = {}
  - metas.title = "スマホサイト"
  - metas.keyword = "iine"
block content
  header
    .container.header
      h1 My App
      i#open_menu.fas.fa-bars
    nav#menu
      i#close_menu.fas.fa-times
      ul.shown
        li: a(href="#") Menu
        li: a(href="#") Menu
        li: a(href="#") Menu
  section.features
    h1 Features
    .container.media
      - for (let i=1; i<4; i++)
        section.feature
          img(src=`images/feature${i}.png`)
          p hello. hello. hello. hello. hello. hello. hello. hello. hello. hello. hello.
  section.news
    h1 news
    .container.flex
      - for(let i=0; i<3; i++)
        artcle.news-item
          img(src="images/news.png")
          p hello. hello. hello. hello. hello. hello. hello. hello. hello. hello. hello.
  section.how-to-use
    h1 How to use
    .container
      .iframe-wrapper.
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gTqItCCuO7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  footer
    p &copy; dotinstall.com
  script(src="javascripts/main.js")
