extends layout
block vars
  - const metas = {}
  - metas.title = "CSS Grid"
  - metas.keyword = "iine"
block content
  h1= metas.title
  p Welcome to #{metas.title}
  .wrap
    .header
    .sidebar
    .main
    .footer

