:root {
  --bg_color: #f8f8f8;
  --bd_color: #333333;
  --white: #fff;
}
body {
  background-color: var(--bg_color);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: var(--bd_color);
}
.container {
  width: 90%;
  margin: 0 auto;
}
header {
  h1 {
    font-size: 28px;
    font-weight: normal;
  }
  #open_menu {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  #menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .8);
    color: var(--white);
    display: none;
    &.shown {
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 10px 20px;
      li {
        line-height: 2;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

section {
  h1 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 60px;
  }
}
.features {
  padding: 60px 0;
  background-color: var(--white);
  .feature {
    img {
      width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}
.news {
  padding: 60px 0; 
  img {
    width: 100%;
  }
  .news-item {
    display: block;
    margin-bottom: 60px;
  }
}
.how-to-use {
  .iframe-wrapper {
    // background-color: pink;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
    iframe { // ドットをつけないように
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
footer {
  text-align: center;
  padding: 60px 0;
  color: #cccccc;

}

@media (min-width: 570px) {
  .media {
    overflow: hidden;
    .feature {
      img {
        width: 50%;
      }
      p {
        width: 45%;
      }
      &:nth-of-type(odd) p {
        float: right;
        padding-left: 5%;
      }
      &:nth-of-type(even) p {
        float: left;
        padding-right: 5%;
      }
    }
  }
  .news {
    .flex {
      display: flex;
      justify-content: space-between;
    }
    .news-item {
      width: 30%;
    }
  }
  body {
    background-color: skyblue;
  }
}

@media (min-width: 912px) {
  body {
    background-color: lime;
  }
}